*{
    padding:0;
    margin:0;
}

select{
    border-radius: 10%;
    
    height: 5vh;
    width: 10vw;  
}

.outerBox{
    align-items: center;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
}
.selectBox{
    padding-top: 10%;
    align-self: center;
}
button{
    padding: 5px;
    margin: 10px;
    width:fit-content+10px;
}