* {
	padding: 0;
	margin: 0;
	text-align: center;
}
.shape {
	background-color: cadetblue;
	height: 100px;
}
#rectangle {
	width: 200px;
}
#circle {
	border-radius: 50px;
}
#square {
	width: 100px;
}
